@import url("https://fonts.googleapis.com/css2?family=Comfortaa&family=Corinthia&display=swap");

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

:root {
  --color-primary: #f7e7ce;
  --color-primary-variant: rgba(77, 181, 255, 0.4);
  --color-white: #fff8e7;
  --color-light: rgba(255, 255, 255, 0.6);
  --color-bg: #7f885c;
  --color-bg-variant: rgba(127, 136, 92);
  --color-green: #eef3d4c7;
  --color-olive: #B3B47E;
  --color-lilac: #ADAAA0;
  /* 
    golden peach: #F0D2AC,#E0C389,#E4C3B1
    dusty lilac: #9D8D8E, #ADAAA0
    green: #E9E5CD, #B4AC7B, #DADFBC, eef3d4c7
    beige: #FAFBED, #f7e7ce, fff8e7
  */

  --container-width-lg: 75%;
  --container-width-md: 86%;
  --container-width-sm: 90%;

  --transition: all 400ms ease;
}

html{
  scroll-behavior: smooth;
}

::-webkit-scrollbar{
  display: none;
}

body {
  font-family: "Comfortaa", cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--color-white);
  background-image: url(../src/images/olive3.jpeg);
  line-height: 1.7;
}

.container {
  width:var(--container-width-lg);
  margin: 0 auto; 
}

h1, h2, h3, h4, h5 {
  font-weight: 600;
}

h1 {
  font-size: 3rem;
}

section{
  margin-top: 8rem;
}

section > h2, section > h5 {
  text-align: center;
  color:var(--color-light)
}

section > h2{
  color: var(--color-primary);
  margin-bottom: 3rem;
}

.text-light {
  color:var(--color-light);
}

a {
  color: var(--color-lilac);
  transition: var(--transition);
}

a:hover {
  color:var(--color-white)
}

.icon {
  font-size: 25px;
}

.btn {
  width: max-content;
  display: inline-block;
  color: var(--color-green);
  padding: 0.75rem 1.2rem;
  border-radius: 0.4rem;
  cursor: pointer;
  border: 1px solid var(--color-green);
  transition: var(var(--transition));
}

.btn:hover {
  background: var(--color-primary);
  color: var(--color-bg);
  border-color: transparent;
}

.btn-primary {
  background: var(--color-olive);
  color: var(--color-white);
}

img {
  display: block;
  width: 100%;
  object-fit: cover;
}



/* MEDIA QUERIES (MEDIUM DEVICES) */

@media screen and (max-width: 1024px) {
  .container {
    width: var(--container-width-md);
  }

  section {
    margin-top: 6rem;
  }
}



/* MEDIA QUERIES (SMALL DEVICES) */

@media screen and (max-width: 600px) {
  .container {
    width: var(--container-width-sm);
  }

  section > h2 {
    margin-bottom: 2rem;
  }
}